<template>
  <div id="home" class="container">
  <div class="field" style="width: 200px">
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Buscador"
        v-model="searchText"
      >
    </div>
  </div>
    <table class="table is-striped is-narrow is-fullwixdth">
      <thead>
        <tr>
          <th @click="getOrder('id')">
            ID
            <span v-if="orderBy === 'id' && orderType === 'asc'" class="material-icons">
              keyboard_arrow_down
            </span>
            <span v-if="orderBy === 'id' && orderType === 'desc'" class="material-icons">
              keyboard_arrow_up
            </span>
          </th>
          <th @click="getOrder('name')">
            Nombre
            <span v-if="orderBy === 'name' && orderType === 'asc'" class="material-icons">
              keyboard_arrow_down
            </span>
            <span v-if="orderBy === 'name' && orderType === 'desc'" class="material-icons">
              keyboard_arrow_up
            </span>
          </th>
          <th @click="getOrder('age')">
            Edad
            <span v-if="orderBy === 'age' && orderType === 'asc'" class="material-icons">
              keyboard_arrow_down
            </span>
            <span v-if="orderBy === 'age' && orderType === 'desc'" class="material-icons">
              keyboard_arrow_up
            </span>
          </th>
          <th @click="getOrder('createdAt')">
            Fecha de registro
            <span v-if="orderBy === 'createdAt' && orderType === 'asc'" class="material-icons">
              keyboard_arrow_down
            </span>
            <span v-if="orderBy === 'createdAt' && orderType === 'desc'" class="material-icons">
              keyboard_arrow_up
            </span>
          </th>
        </tr>
      </thead>              
      <tbody>
        <template v-for="row in response">
          <tr :key="row.id">
            <td>
              {{row.id}}
            </td>
            <td>
              {{row.name}}
            </td>
            <td>
              {{row.age}}
            </td>
            <td>
              {{row.createdAt}}
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <div class="is-flex">
      <button
        class="button"
        :disabled="currentPage <= 1"
        @click="changePage(currentPage - 1)"
      > 
        Prev
      </button>
      <button
        class="button"
        :disabled="currentPage === totalPages"
        @click="changePage(currentPage + 1)"
      > 
        Next
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'datatable',
  layout: 'principal',
  data () {
    return {
      orderBy: 'id',
      orderType: 'asc',
      currentPage: 1,
      totalPages: 1,
      searchText: '',
      response: [
        {id: 1, name: "Erick", age: 29, createdAt: '2020-06-09' },
        {id: 2, name: "Ulises", age: 29, createdAt: '2020-06-08' },
        {id: 3, name: "Sara", age: 23, createdAt: '2020-06-07' },
        {id: 4, name: "Libna", age: 30, createdAt: '2020-06-06' },
        {id: 5, name: "Axel", age: 24, createdAt: '2020-06-20' },
        {id: 6, name: "Misael", age: 24, createdAt: '2020-07-21' }
      ]
    }
  },
  methods: {
    getOrder (newOrderBy) {
      console.log(newOrderBy)
      if (newOrderBy === this.orderBy) {
        this.orderType = this.orderType === 'asc' ? 'desc' : 'asc'
      } else {
        this.orderType = 'asc'
      }
      this.currentPage = 1
      this.orderBy = newOrderBy
      this.getData()
    },
    changePage (newPage) {
      this.currentPage = newPage
    },
    getData () {
      let data = {
        page: this.currentPage,
        orderBy: this.orderBy,
        orderType: this.orderType,
        searchText: this.searchText
      }
      console.log(data)
      // @TODO
      // api.getDataAPI(data)
      //   .then(payload =>  {
      //     this.response = this.payload.rows
      //     this.totalPages = this.payload.totalPages
      //   })
    }
  }
}
</script>

<style>
#home {
  width: 100%;
  margin-top: 200px;
}
</style>

